/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&key_repeat { usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>; };

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE BACKSLASH NON_US_BACKSLASH MINUS EQUAL APOSTROPHE LEFT_BRACKET RIGHT_BRACKET NUMBER_0 SEMICOLON>; };

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        taphold_mod_left: taphold_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        lmeta_handler: lmeta_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "LMETA_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_right LEFT_WIN A>, <&kp A>;
        };

        lalt_handler: lalt_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "LALT_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_right LEFT_ALT R>, <&kp R>;
        };

        lctrl_handler: lctrl_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "lctrl_handler";
            #binding-cells = <0>;
            bindings = <&taphold_mod_right LCTRL S>, <&kp S>;
        };

        lshift_handler: lshift_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "LSHIFT_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_right LSHFT T>, <&kp T>;
        };

        rshift_handler: rshift_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "RSHIFT_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_left LEFT_SHIFT N>, <&kp N>;
        };

        rctrl_handler: rctrl_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "RCTRL_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_left LCTRL E>, <&kp E>;
        };

        ralt_handler: ralt_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "RALT_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_left LEFT_ALT I>, <&kp I>;
        };

        rmeta_handler: rmeta_handler {
            compatible = "zmk,behavior-tap-dance";
            label = "RMETA_HANDLER";
            #binding-cells = <0>;
            bindings = <&taphold_mod_left LMETA O>, <&kp O>;
        };

        taphold_kp_mo: taphold_kp_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_KP_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            hold-while-undecided;
            hold-trigger-on-release;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        taphold_mod_right: taphold_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        sticky_kp_slow: sticky_kp_slow {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KP_SLOW";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <2000>;
            lazy;
            ignore-modifiers;
        };

        taphold_stickykp_slow__mo: taphold_stickykp_slow__mo {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_STICKYKP_SLOW__MO";
            bindings = <&mo>, <&sticky_kp_slow>;

            #binding-cells = <2>;
            hold-while-undecided;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };

        taphold_stickylayer_slow__kp: taphold_stickylayer_slow__kp {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_STICKYLAYER_SLOW__KP";
            bindings = <&kp>, <&sticky_layer_slow_release>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        taphold_kp_kp_hold: taphold_kp_kp_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_KP_KP_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <230>;
        };

        sticky_layer_slow_release: sticky_layer_slow_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_LAYER_SLOW_RELEASE";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            ignore-modifiers;
        };

        taphold_stickylayer_mo: taphold_stickylayer_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_STICKYLAYER_MO";
            bindings = <&mo>, <&sticky_layer_slow_release>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-while-undecided;
            tapping-term-ms = <200>;
        };

        shift: shift {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sticky_kp_slow>;

            hold-while-undecided-linger;
        };

        taphold_caps: taphold_caps {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_CAPS";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        taphold_lmeta: taphold_lmeta {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_LMETA";
            bindings = <&kp>, <&sticky_kp_slow>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        taphold_enter_number: taphold_enter_number {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_ENTER_NUMBER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        tapdance_enter_number_back: tapdance_enter_number_back {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_ENTER_NUMBER_BACK";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&to 0>;
        };

        mm_keyrepeat__mo_function: mm_keyrepeat__mo_function {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_KEYREPEAT__MO_FUNCTION";
            bindings = <&key_repeat>, <&mo 7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_backspace_del: mm_backspace_del {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BACKSPACE_DEL";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        tapdance_esc_to0: tapdance_esc_to0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_ESC_TO0";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&to 0>;

            tapping-term-ms = <300>;
        };

        taphold_kp__kp_tap: taphold_kp__kp_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLD_KP__KP_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <170>;
            quick-tap-ms = <169>;
        };

        mm_volume: mm_volume {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VOLUME";
            bindings = <&kp C_VOLUME_UP>, <&kp C_MUTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        tools {
            bindings = <&taphold_stickylayer_mo 9 9>;
            key-positions = <38 39>;
        };

        lalt {
            bindings = <&sticky_kp_slow LALT>;
            key-positions = <27 28>;
        };

        copy_newtab_paste {
            bindings = <&copy_newtab_paste>;
            key-positions = <36 16>;
        };

        copy_find_paste {
            bindings = <&copy_find_paste>;
            key-positions = <3 36>;
        };

        nav {
            bindings = <&to 8>;
            key-positions = <37 36>;
        };

        lmeta {
            bindings = <&taphold_lmeta LMETA LMETA>;
            key-positions = <31 32>;
        };

        function_layer {
            bindings = <&sticky_layer_slow_release 7>;
            key-positions = <3 4>;
        };

        number {
            bindings = <&to 6>;
            key-positions = <41 40>;
        };
    };

    macros {
        copy_newtab_paste: copy_newtab_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C) &kp LC(T) &kp LC(V) &kp ENTER>;
            label = "COPY_NEWTAB_PASTE";
        };

        copy_find_paste: copy_find_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C) &kp LC(F) &kp LC(V)>;
            label = "COPY_FIND_PASTE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC | ENT | RSE  | ALT |

            bindings = <
&kp LEFT_META  &kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp O  &kp U  &kp DEL  &taphold_stickylayer_slow__kp PRINTSCREEN 7  &kp TAB  &kp K  &kp R  &kp S  &kp T  &kp G  &kp M  &kp N  &kp E  &kp I  &kp A  &mm_backspace_del  &taphold_kp_kp_hold LCTRL ESCAPE  &kp Z  &kp Y  &kp C  &kp D  &kp V  &kp X  &kp H  &taphold_kp__kp_tap COMMA SEMI  &taphold_kp__kp_tap PERIOD APOS  &kp SLASH  &taphold_caps CAPSLOCK LGUI  &taphold_stickykp_slow__mo 8 LCTRL  &taphold_kp_mo 2 SPACE  &shift LSHIFT LSHIFT  &mm_keyrepeat__mo_function  &taphold_stickylayer_mo 1 1  &taphold_enter_number 6 ENTER
            >;
        };

        layer2 {
            display-name = "LAYER2";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans  &kp X  &trans  &trans  &trans  &kp LEFT_BRACKET  &kp BACKSLASH  &trans  &trans  &kp NON_US_BACKSLASH  &trans  &trans  &trans  &kp J  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp B  &kp V  &trans  &trans  &kp EQUAL  &kp N0  &kp MINUS  &kp RIGHT_BRACKET  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        symbol {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|     |     |     |     |     |      |
            //                    | GUI |     | SPC   | ENT |     | ALT |

            bindings = <
&none  &kp RA(Q)  &kp RA(W)  &kp RA(C)  &kp RA(N7)  &none  &none  &kp LS(N9)  &kp RA(N)  &kp RA(Z)  &kp RA(G)  &trans  &none  &kp RA(NUMBER_1)  &kp LS(NUMBER_4)  &kp LS(N7)  &kp RA(COMMA)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(N8)  &kp RA(B)  &kp RA(NON_US_BACKSLASH)  &kp RA(F)  &trans  &none  &kp RA(NUMBER_3)  &kp RA(SEMI)  &kp RA(X)  &kp RA(V)  &none  &none  &kp LS(NUMBER_6)  &kp RA(SLASH)  &kp LS(NUMBER_3)  &kp LS(N5)  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        game {
            bindings = <
&kp LCTRL  &kp N1  &kp Q  &kp W  &kp E  &kp N4  &kp N7  &kp N0  &none  &none  &none  &none  &kp TAB  &kp N2  &kp A  &kp S  &kp D  &kp N5  &kp N8  &none  &none  &none  &none  &none  &tapdance_esc_to0  &kp N3  &kp X  &kp C  &kp V  &kp N6  &kp N9  &none  &none  &none  &none  &none  &mo 4  &kp SPACE  &kp ENTER  &none  &mo 5  &to 0
            >;

            label = "GAME";
        };

        game2 {
            bindings = <
&trans  &kp F5  &kp R  &trans  &kp F  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F6  &kp F7  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F8  &kp Y  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        homerow {
            display-name = "HOMEROW";
            bindings = <
&kp CAPSLOCK  &kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp DEL  &trans  &kp TAB  &lmeta_handler  &lalt_handler  &lctrl_handler  &lshift_handler  &kp G  &kp M  &rshift_handler  &rctrl_handler  &ralt_handler  &rmeta_handler  &trans  &kp ESC  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp K  &kp H  &kp COMMA  &kp DOT  &kp FSLH  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        number {
            bindings = <
&none  &kp COMMA  &kp N7  &kp N8  &kp N9  &none  &none  &none  &none  &none  &none  &trans  &none  &kp GRAVE  &kp N4  &kp N5  &kp N6  &sticky_kp_slow LC(LMETA)  &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans  &tapdance_esc_to0  &kp DOT  &kp N1  &kp N2  &kp N3  &none  &none  &kp LS(NUMBER_6)  &kp RA(SLASH)  &kp LS(NUMBER_3)  &kp SLASH  &kp LS(N7)  &trans  &trans  &trans  &trans  &trans  &tapdance_enter_number_back
            >;

            label = "NUM";
        };

        function {
            label = "FUN";
            bindings = <
&none  &kp F12  &kp F7  &kp F8  &kp F9  &none  &kp C_VOLUME_UP  &kp C_PP  &kp C_PREV  &kp C_NEXT  &none  &trans  &none  &kp F11  &kp F4  &kp F5  &kp F6  &none  &kp C_VOLUME_DOWN  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans  &none  &kp F10  &kp F1  &kp F2  &kp F3  &none  &kp C_MUTE  &none  &none  &none  &none  &trans  &none  &none  &none  &none  &none  &none
            >;
        };

        nav {
            bindings = <
&caps_word  &none  &none  &none  &none  &kp C_MUTE  &mm_volume  &kp C_PP  &kp C_PREVIOUS  &kp C_NEXT  &none  &none  &none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none  &kp PAGE_UP  &tapdance_esc_to0  &none  &none  &none  &sticky_kp_slow LA(LC(LMETA))  &none  &kp C_VOLUME_DOWN  &kp HOME  &kp END  &none  &none  &kp PAGE_DOWN  &to 0  &trans  &trans  &trans  &trans  &trans
            >;

            label = "NAV";
        };

        tools {
            display-name = "TOOLS";
            bindings = <
&tog 3  &none  &none  &none  &none  &bt BT_CLR  &none  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &none  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none  &kp C_PP  &kp C_PREVIOUS  &kp K_NEXT  &none  &none  &none  &none  &none  &none  &out OUT_TOG  &none  &none  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_COLOR_HSB(0,0,100)  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&none  &none  &mkp LCLK  &mmv MOVE_UP  &mkp RCLK  &msc SCRL_UP  &none  &none  &none  &none  &none  &none  &msc SCRL_LEFT  &msc SCRL_RIGHT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN  &none  &kp LSHIFT  &kp LCTRL  &kp LALT  &kp LGUI  &none  &tapdance_esc_to0  &mkp LCLK  &mkp MB4  &mkp MCLK  &mkp MB5  &to 10  &none  &none  &none  &none  &none  &none  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "MOUSE";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        homerow {
            if-layers = <1 2>;
            then-layer = <5>;
        };

        mouse {
            if-layers = <8 6>;
            then-layer = <10>;
        };
    };
};
